@charset "UTF-8";
@font-face {
  font-family: 'OpenSans-Regular';
  /* Имя шрифта */
  src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
  /* Путь к файлу со шрифтом */ }

@font-face {
  font-family: 'OpenSans-Bold';
  /* Имя шрифта */
  src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
  /* Путь к файлу со шрифтом */ }

@font-face {
  font-family: 'OpenSans-Light';
  /* Имя шрифта */
  src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
  /* Путь к файлу со шрифтом */ }

@font-face {
  font-family: 'OpenSans-Semibold';
  /* Имя шрифта */
  src: url(../fonts/Open_Sans/OpenSans-Semibold.ttf);
  /* Путь к файлу со шрифтом */ }

@font-face {
  font-family: 'PlayfairDisplay-BoldItalic';
  /* Имя шрифта */
  src: url(../fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf);
  /* Путь к файлу со шрифтом */ }

@font-face {
  font-family: 'PlayfairDisplay-Bold';
  /* Имя шрифта */
  src: url(../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf);
  /* Путь к файлу со шрифтом */ }

/*только для Internet Explorer*/
@font-face {
  font-family: 'OpenSans-Regular';
  /* Имя шрифта */
  src: url(../fonts/Open_Sans/OpenSansRegular.eot);
  /* Путь к файлу со шрифтом */ }

@font-face {
  font-family: 'OpenSans-Bold';
  /* Имя шрифта */
  src: url(../fonts/Open_Sans/OpenSansBold.eot);
  /* Путь к файлу со шрифтом */ }

@font-face {
  font-family: 'OpenSans-Light';
  /* Имя шрифта */
  src: url(../fonts/Open_Sans/OpenSansLight.eot);
  /* Путь к файлу со шрифтом */ }

@font-face {
  font-family: 'OpenSans-Semibold';
  /* Имя шрифта */
  src: url(../fonts/Open_Sans/OpenSansSemiBold.eot);
  /* Путь к файлу со шрифтом */ }

/*--------------------*/
body {
  min-width: 950px; }

header {
  background-color: #353436;
  position: absolute;
  width: 100%;
  height: 130px; }
  header .center-block {
    max-width: 1200px;
    margin: 0 auto; }
    header .center-block .header-block__logo {
      float: left;
      margin-top: 24px; }
    header .center-block .header-right-block {
      float: right;
      margin-right: -20px;
      position: relative;
      z-index: 999; }
      header .center-block .header-right-block .header-right-block__servizzio {
        float: right;
        margin-top: 5px; }
      header .center-block .header-right-block .header-right-block__servizzio span {
        color: #fff;
        font-family: 'OpenSans-Regular';
        font-size: 14px; }
      header .center-block .header-right-block .header-right-block__servizzio img {
        margin: 0 26px 0 5px; }
      header .center-block .header-right-block .header-right-block__menu {
        float: right;
        color: #fff;
        font-family: 'OpenSans-Regular';
        text-decoration: none;
        margin-top: 65px; }
      header .center-block .header-right-block .header-right-block__menu_active-link {
        color: #e2d1a6 !important;
        font-family: 'OpenSans-Bold'; }
      header .center-block .header-right-block .header-right-block__menu li {
        float: left;
        text-transform: uppercase;
        margin-right: 25px;
        font-size: 18px; }
      header .center-block .header-right-block .header-right-block__menu li a {
        color: #ffffff;
        font-size: 18px;
        text-decoration: none;
        padding: 0 0 4px 0px; }
      header .center-block .header-right-block .header-right-block__menu li a:hover {
        color: #e2d1a6; }
      header .center-block .header-right-block .header-right-block__drop-down-menu ul {
        list-style: none;
        margin: 10px -90px 0px -21px;
        z-index: 999;
        left: -9999px;
        /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
        opacity: 0;
        /* Устнавливаем начальное состояние прозрачности */
        -webkit-transition: 0.25s linear opacity;
        /* В Webkit выпадающие пункты будут проявляться */ }
      header .center-block .header-right-block .header-right-block__drop-down-menu ul li {
        float: none;
        background: #353436;
        text-align: left; }
      header .center-block .header-right-block .header-right-block__drop-down-menu ul a {
        display: inline-table;
        border: none;
        border-radius: 1px;
        padding: 11px 10px 10px 21px; }
      header .center-block .header-right-block .header-right-block__drop-down-menu li:hover ul {
        /* Выводим выпадающий пункт при наведении курсора */
        left: 0;
        /* Приносим его обратно на экран, когда нужно */
        opacity: 1;
        /* Делаем непрозрачным */
        bottom: none; }
      header .center-block .header-right-block .header-right-block__drop-down-menu li:hover ul a {
        /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
        text-decoration: none;
        bottom: none;
        -webkit-transition: -webkit-transform 0.075s linear; }
      header .center-block .header-right-block .header-right-block__drop-down-menu ul a:hover {
        /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
        color: #e2d1a6; }
      header .center-block .header-right-block .header-right-block__line-menu {
        width: 90%;
        margin: 0 auto; }

.slider-block {
  position: relative; }

.my-slider {
  padding-top: 130px;
  position: relative;
  overflow: hidden;
  z-index: -999; }

.my-slider ul li {
  position: relative;
  color: #000; }

.my-slider__slide-text-wrapper {
  position: absolute;
  top: 35%;
  right: 0;
  max-width: 510px;
  background-color: #fff;
  opacity: 0.85;
  padding: 22px 25px; }

.my-slider ul li h2 {
  font-size: 30px;
  font-family: 'PlayfairDisplay-BoldItalic';
  text-transform: uppercase;
  margin-bottom: 28px; }

.my-slider ul li img {
  width: 100%; }

.my-slider ul li span {
  font-size: 18px;
  font-family: 'OpenSans-Regular'; }

.unslider-nav {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  margin: -60px 0 40px 0px; }

.slide_container {
  width: 100%;
  position: absolute;
  z-index: 999;
  bottom: 5px; }

.slide_container__menu {
  display: block;
  width: 1200px;
  margin: 0 auto;
  background: #fff;
  display: none;
  margin-top: -1px; }

.slide_container__menu ul {
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  width: 100%; }

.slide_container__menu li {
  float: left;
  height: 175px;
  padding: 0;
  width: 33.3333%;
  list-style: none; }

.slide_container__menu h2 {
  font-family: 'PlayfairDisplay-Bold';
  font-size: 28px;
  margin: 10px 0px 10px 35px; }

.slide_container__menu span {
  font-size: 16px;
  font-family: 'OpenSans-Regular'; }

.slide_container__span {
  margin-left: 35px; }

.slide_container-link {
  font-size: 18px;
  font-family: 'OpenSans-Regular';
  text-decoration: none;
  float: right;
  padding: 5px 20px 0px 0px; }

.slide_container__btn {
  margin: 0 auto;
  width: 90px;
  height: 30px;
  z-index: 999;
  background-image: url(../images/panel-up.jpg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; }

.slide_container__menu-1 {
  background-color: #e2d1a6;
  color: #000; }

.slide_container__menu-2 {
  background-color: #fff;
  color: #000; }

.slide_container__menu-3 {
  background-color: #000;
  color: #fff; }

.slide_container__menu-1 a {
  color: #fff; }
  .slide_container__menu-1 a:hover {
    text-decoration: underline; }

.slide_container__menu-2 a {
  color: #000; }
  .slide_container__menu-2 a:hover {
    text-decoration: underline; }

.slide_container__menu-3 a {
  margin-top: 38px;
  color: #fff; }
  .slide_container__menu-3 a:hover {
    text-decoration: underline; }

.footer-main {
  background: #353436;
  height: 270px;
  margin-top: -6px; }

.footer-content {
  width: 981px;
  margin: 0 auto;
  color: #fff; }

.footer-content__section {
  float: left;
  margin: 40px 40px 0px 20px;
  color: #b5b4b4; }

.footer-content__section-article {
  width: 180px;
  font-family: 'OpenSans-Light';
  font-size: 12px; }

.footer-content__section h2 {
  font-family: 'PlayfairDisplay-Bold';
  font-size: 14px;
  margin: 0px 0 25px 0;
  text-transform: uppercase;
  color: #fff; }

.footer-content-form {
  width: 185px; }

.footer-content-form input {
  width: 180px;
  padding: 6px 0 3px 5px;
  margin: 0 0px 7px 0px; }

.footer-content-form_checkbox {
  width: 10px !important;
  vertical-align: text-top;
  color: #b5b4b4;
  margin: 0px 6px 0px 0px !important; }

.footer-content-form_label {
  font-size: 10px;
  font-family: 'OpenSans-Regular';
  margin: 0 0px 12px 0px; }

.footer-content-form__submit {
  margin-top: 7px !important;
  padding: 10px 0px 9px 0px !important;
  width: 188px !important;
  color: #fff;
  background: #000;
  border: none; }
  .footer-content-form__submit:hover {
    background: #e2d1a6;
    cursor: pointer; }

footer {
  background: #353436;
  color: #fff;
  height: 40px; }

.footer-content-bottom {
  width: 1200px;
  margin: 0 auto;
  color: #d7d7d7; }

.footer-content-bottom-left {
  float: left; }

.footer-content-bottom-left span {
  font-size: 12px;
  font-family: 'OpenSans-Regular';
  margin-left: 10px; }

.footer-content-bottom-right {
  float: right; }

.footer-content-bottom-right__logo {
  float: left;
  margin: 0px 110px 0px 0; }

.footer-content-bottom-right__lang {
  float: right;
  margin: 0 2px 0px 8px; }

.footer-content-bottom-right__lang span {
  font-size: 14px;
  font-family: 'OpenSans-Regular'; }

.footer-content-bottom-right__lang span a {
  text-decoration: none;
  color: #d7d7d7; }

.footer-content-bottom-right__logo a {
  margin-left: 7px; }
